* {
    font-family: 'Space Grotesk', 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

nav{
    border-bottom: 8px solid #f55858;
    padding: 21px;
    text-align: right;
}

.nav_logo{
    width: 130px;
    display: inline;
    position: absolute;
    left: 20px;
}

.navigation{
    display: inline;
}

.navigation li {
    font-size: 16px;
    color: #6666;
    display: inline;
    padding: 0 10px;
}

.logo {
    width: 410px;
    padding: 20px 70px;
    display: block;
}
.section_1_h1 {
    padding: 0px 70px;
    font-size: 45px;
    font-weight: 400;
    line-height: 120%;
    color: rgb(19, 43, 81);
    display: inline-block;
    width: 450px;
}

.img_home{
    display: inline-block;
    width: 320px;
}

.section_1_h3{
    padding: 0px 70px;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: rgb(19, 43, 81);
    display: block;
    width: 500px;
}

.CTA {
    background-color: #11bda8; 
    color: white;
    font-size: 23px;
    font-weight: 400;
    padding: 15px 20px;
    margin-left: 70px;
    display: inline-block;
}

.section_1{
    padding-top: 20px;
    padding-bottom:  80px;
    background-color: #E9F2F4;
    width: 100%;
    display: inline-block;
}

.section_2{
    background-color: write;
    padding: 70px 0;
}

.h1s2 {
    width: 100%;
    font-weight: 400;
    text-align: center;
    font-size: 45px;
    color: rgb(19, 43, 81);
    display: block;
}

.flex_container{
    display: flex;
    justify-content: center;
    align-content:center;
    flex-wrap: wrap;
    padding: 0 10%;
    width:100%;
}

.flex_img{
    width:216px;
    height: 100%;
    padding: 30px 50px;
}

.h1s3 {
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    color: rgb(19, 43, 81);
}

.h3s3{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: rgb(19, 43, 81);
    padding-bottom: 30px;
}

.flex_container_2{
    display: flex;
    justify-content: center;
    align-content:center;
    flex-wrap: wrap;
    padding: 0 10%;
    width:100%;
}

.descricao_img{
    width:50px;
}

.descricao_tit{
    width: 293px;
    font-size: 20px;
    height: 54px;
}

.descricao_etapa{
    width: 293px;
    font-size: 16px;
    font-weight: 450;
    color: #888;
}

.section_3{
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #E9F2F4;
    width: 100%;
}

.h1s4 {
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    color: rgb(19, 43, 81);
}

.comentario{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 30px;
} 

.comentario_img{
    width: 50px; 
    height: 50px;
    border-radius: 50%; /* Makes the image appear as a circle */    
    display: inline;
    vertical-align: middle;
}

.nome{
    display: inline;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 20px;
}

.cargo{
    display: inline;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 14px;
    color: #6666;
}
    
.section_4{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    width: 100%;
    
}